{% extends 'base.html' %}

{% block content %}

<!-- Begin page content -->
<main role="main" class="mt-3 flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной странице будут отображаться все KVS.</p>

                <hr>
            </div>


            <div class="container">
                <div class="element-1" style="position: relative; top: 10px; left: 200px;">
                    <form method="GET" action="">
                        <p><label>Введите:     дату начала</label>
                        <input name="date_start" type="date"/>
                        <label>дату окончания</label>
                        <input name="date_stop" type="date"/>
                        <button href="{% url 'kvs-list' %}" type="submit">Применить</button> </p>
                    </form>
                </div>
            </div>




            <div class="row">
                <div class="col">
                    <form method="GET" action="">
                        <div class="element-1" style="position: relative; top: 10px; left: 286px;">
                            <label>оператора:&ensp;</label>
                        <select name="operator">
                            <option value="Ivanov I.I." {% if operator == "Ivanov I.I." %} selected {% endif %}>Иванов</option>
                            <option value="Petrov P.P." {% if operator == "Petrov P.P." %} selected {% endif %}>Петров</option>
                            <option value="Sidorov S.S." {% if operator == "Sidorov S.S." %} selected {% endif %}>Сидоров</option>
                        </select>
                        <button href="{% url 'kvs-list' %}" type="submit">Применить</button>
                            </div>
                    </form>
                </div>
            </div>


            <div class="container">
                <div class="element-1" style="position: relative; top: 10px; left: 200px;">
                    <form method="GET" action="">
                        <p><label>Прием граждан:&ensp;&ensp;</label>
                        <input type="checkbox" name="priem_gr"/>
                        <button href="{% url 'kvs-list' %}" type="submit">Применить</button> </p>
                    </form>
                </div>
            </div>



        </div>

        <!--<div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark"> -->

        <div class="scroll-table" style="position: relative; top: 20px; left: ;">
            <table>
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col"></th>
                    <th scope="col">Название</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Ведущий</th>
                    <th scope="col">Оператор</th>
                    <th scope="col">Тест</th>
                    <th scope="col">Рабочий</th>
                    <th scope="col">Прием граждан</th>

                </tr>
                </thead>
            </table>

            <div class="scroll-table-body">
                <table>
                    <tbody>

                    {% for svs_k in svs_ks %}
                    <tr>
                        <td scope="row">{{ svs_k.id }}</td>
                        <td>
                            <a href="{% url 'kvs-delete' svs_k.id %}">
                                <img src="../../static/images/tresh.png" width="20" height="22" alt="logo" />
                            <!--    <i style="color: #da7b87" class="fa-solid fa-trash"></i>  -->
                            </a>
                        </td>
                        <td><a href="/kvs/{{ svs_k.id }}">{{ svs_k.name }}</a></td>
                        <td>{{ svs_k.date }}</td>
                        <td>
                            {% if svs_k.vedushij is True %}
                            Да
                            {% else %}
                            {{ svs_k.vedushij }}
                            {% endif %}


                        </td>
                        <td>{{ svs_k.operator }}</td>
                        <td>{{ svs_k.test }}</td>
                        <td>{{ svs_k.rab }}</td>
                        <td> {% if svs_k.priem == True %}
                            1
                            {% else %}
                            0
                            {% endif %}

                        </td>
                        <!--    <td>{{ svs_z.user | default:"Аноним" }}</td>  -->
                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>


        <div class="scroll-table">
            <table>
                <thead>
                <tr>
                    <th scope="col">Всего:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">{{ sum_test }}</th>
                    <th scope="col">{{ sum_rab }}</th>
                    <th scope="col">{% if sum_priem == False %}
                        0
                        {% elif sum_priem == True %}
                        1
                        {% else %}
                        {{ sum_priem }}
                        {% endif %}
                    </th>

                </tr>
                </thead>
            </table>
        </div>


        <div class="col-4">
            <input type="text" name="name" class="form-control form-control-lg"
                   placeholder=" ИТОГО: рабочих: {{ sum_rab }}">
        </div>
        <div class="col-8">
            <input type="text" name="name" class="form-control form-control-lg"
                   placeholder=" ИТОГО: тестовых: {{ sum_test }}">
        </div>
        <div class="col-8">
            <input type="text" name="name" class="form-control form-control-lg"
                   placeholder=" ИТОГО: приемов: {{ sum_priem }}">
        </div>


        <div align="right">
            <i style="color: gray;">Всего сниппетов: 2</i>
        </div>

    </div>
</main>
{% endblock %}
