{% extends 'base.html' %}

{% block content %}

<!-- Begin page content -->
<main role="main" class="mt-3 flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3>{{ pagename }}</h3>
                <hr>
            </div>
        </div>

        <div class="row">

             <div class="container">
                <div class="element-1" style="position: relative; top: 10px; left:;">
                    <form method="GET" action="">
                        <p><label>Введите:     дату начала</label>
                        <input name="date_start" type="date"/>
                        <label>дату окончания</label>
                        <input name="date_stop" type="date"/>


                        <label>&nbsp;&nbsp;&nbsp;&nbsp;оператора:&ensp;</label>
                        <select name="operator">
                            <option selected disabled value=""></option>
                            <option value="Ivanov I.I." {% if operator == "Иванов" %} selected {% endif %}>Иванов</option>
                            <option value="Petrov P.P." {% if operator == "Петров" %} selected {% endif %}>Петров</option>
                            <option value="Sidorov S.S." {% if operator == "Сидоров" %} selected {% endif %}>Сидоров</option>
                        </select>


                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Прием граждан:&ensp;</label>
                        <input type="checkbox" name="priem_gr"/>
                            <hr>
                        <button href="{% url 'zzvs-list' %}" type="submit" style="display: block; margin: 0 auto;">Применть фильтр</button>
                        <hr>
                    </form>

                    <form method="GET" action="">
                        <button href="{% url 'zzvs-list' %}" type="submit" style="display: block; margin: 0 auto;">Обновить базу</button> </p>
                        <hr>
                    </form>
                </div>
            </div>



<!--
            <div class="row">
                <div class="col">
                    <form method="GET" action="">
                        <div class="element-1" style="position: relative; top: 10px; left: 286px;">
                            <label>оператора:&ensp;</label>
                        <select name="operator">
                            <option value="Ivanov I.I." {% if operator == "Ivanov I.I." %} selected {% endif %}>Иванов</option>
                            <option value="Petrov P.P." {% if operator == "Petrov P.P." %} selected {% endif %}>Петров</option>
                            <option value="Sidorov S.S." {% if operator == "Sidorov S.S." %} selected {% endif %}>Сидоров</option>
                        </select>
                        <button href="{% url 'kvs-list' %}" type="submit">Применить</button>
                            </div>
                    </form>
                </div>
            </div>


            <div class="container">
                <div class="element-1" style="position: relative; top: 10px; left: 200px;">
                    <form method="GET" action="">
                        <p><label>Прием граждан:&ensp;&ensp;</label>
                        <input type="checkbox" name="priem_gr"/>
                        <button href="{% url 'kvs-list' %}" type="submit">Применить</button> </p>
                    </form>
                </div>
            </div>                       -->





            <!--

            <div class="container">
                <div class="element-1" style="position: relative; top: 10px; left: 200px;">
                    <form method="GET" action="">
                        <p><label>Введите:     дату начала</label>
                        <input name="date_start" type="date"/>
                        <label>дату окончания</label>
                        <input name="date_stop" type="date"/>
                        <button href="{% url 'kvs-list' %}" type="submit">Применить</button> </p>
                    </form>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <form method="GET" action="">
                        <div class="element-1" style="position: relative; top: 10px; left: 286px;">
                            <label>оператора:&ensp;</label>
                        <select name="operator">
                            <option value="Ivanov I.I." {% if operator == "Ivanov I.I." %} selected {% endif %}>Иванов</option>
                            <option value="Petrov P.P." {% if operator == "Petrov P.P." %} selected {% endif %}>Петров</option>
                            <option value="Sidorov S.S." {% if operator == "Sidorov S.S." %} selected {% endif %}>Сидоров</option>
                        </select>
                        <button href="{% url 'kvs-list' %}" type="submit">Применить</button>
                            </div>
                    </form>
                </div>
            </div>


            <div class="container">
                <div class="element-1" style="position: relative; top: 10px; left: 200px;">
                    <form method="GET" action="">
                        <p><label>Прием граждан:&ensp;&ensp;</label>
                        <input type="checkbox" name="priem_gr"/>
                        <button href="{% url 'kvs-list' %}" type="submit">Применить</button> </p>
                    </form>
                </div>
            </div>                         -->













        <!--<div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark"> -->

        <div class="scroll-table" style="position: relative; top: 20px; left: ;">
            <table>
                <thead>
                <tr>
                <!--    <th scope="col">ID</th>
                    <th scope="col"></th>                -->
                    <th scope="col">Название</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Ведущий</th>
                    <th scope="col">Оператор</th>
                    <th scope="col">Тест</th>
                    <th scope="col">Рабочий</th>
                    <th scope="col">Прием граждан</th>
                    <th scope="col">Удалить</th>

                </tr>
                </thead>
            </table>

            <div class="scroll-table-body">
                <table>
                    <tbody>

                    {% for svs_z in svs_zz %}
                    <tr>
                        </td>
                        <td><a href="/zzvs/{{ svs_z.id }}">{{ svs_z.name }}</a></td>
                        <td>{{ svs_z.date }}</td>
                        <td>
                            {% if svs_z.vedushij is True %}
                            Да
                            {% else %}
                            {{ svs_z.vedushij }}
                            {% endif %}


                        </td>
                        <td>{{ svs_z.operator }}</td>
                        <td>{{ svs_z.test }}</td>
                        <td>{{ svs_z.rab }}</td>
                        <td> {% if svs_z.priem == True %}
                            1
                            {% else %}
                            0
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'zzvs-delete' svs_z.id %}">
                                <img src="../../static/images/tresh.png" width="20" height="22" alt="logo" />
                            </a>

                        </td>
                        <!--    <td>{{ svs_z.user | default:"Аноним" }}</td>  -->
                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>


        <div class="scroll-table">
            <table>
                <thead>
                <tr>
                    <th scope="col">Всего:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">{{ sum_test }}</th>
                    <th scope="col">{{ sum_rab }}</th>
                    <th scope="col">{% if sum_priem == False %}
                        0
                        {% elif sum_priem == True %}
                        1
                        {% else %}
                        {{ sum_priem }}
                        {% endif %}
                    <th scope="col"></th>

                    </th>

                </tr>
                </thead>
            </table>
        </div>


        <div class="col-4">
            <input type="text" name="name" class="form-control form-control-lg"
                   placeholder=" ИТОГО: рабочих: {{ sum_rab }}">
        </div>
        <div class="col-8">
            <input type="text" name="name" class="form-control form-control-lg"
                   placeholder=" ИТОГО: тестовых: {{ sum_test }}">
        </div>
        <div class="col-8">
            <input type="text" name="name" class="form-control form-control-lg"
                   placeholder=" ИТОГО: приемов: {{ sum_priem }}">
        </div>


        <div align="right">
            <i style="color: gray;">Всего сниппетов: zzzz</i>
        </div>

    </div>
</main>
{% endblock %}
